<h1 class="talk-title no-toc-progress">%t</h1>
<h3 class="talk-subtitle no-toc-progress">%s</h3>

<div class="keyboard-usage">
    <p>(<a href="https://oer.gitlab.io/hints.html">Usage hints</a> for this presentation)</p>
</div>

<div class="talk-author"><p>%a</p></div>
